*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-size: 12px;
}

.notice{
	width: 298px;
	height: 98px;
	margin: 10px;
	border: 1px solid #eee;
	overflow: hidden;
}

.notice-tit{
	height: 27px;
	position: relative;
	background: #F7F7F7;
}

.notice-tit ul{
	position: absolute;
	width: 301px;
	left: -1px;
}

.notice-tit li{
	float: left;
	width: 58px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	overflow: hidden;
	background: #FFF;
	padding: 0 1px;
	border-bottom: 1px solid #eee;
}

.notice-tit li.select{
	background: #FFF;
	border-bottom-color: #FFF;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	padding: 0 ;
}


.notice li a:link,.notice li a:visited{
	text-decoration: none;
	color:#000;
}

.notice li a:hover{
	color:#F90;
}

.notice-con .mod {
	margin: 10px 6px;
}

.notice-con .mod ul li{
	float: left;
	width: 143px;
	height: 25px;
	overflow: hidden;
}











