h1 {
  width: 55px;
  height: 30px;
  line-height: 30px;
  border: 1px solid green;
  color: red;

  /* start 单行文本超出省略 */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  /* end 单行文本超出省略 */
}
