*{
	margin: 0;
	padding: 0;
}

body{
	background: #ccc;
}

.box{
	width: 800px;
	height: 280px;
	margin: 50px auto;
	position: relative;
}

.box .link{
	width: 205px;
	height: 280px;
	float: left;
	margin: 0 20px;
}

.link .icon{
	display: inline-block;
	width: 100%;
	height: 190px;
	transition: 0.2s ease-out;
	-moz-transition:0.2s ease-out;
	-webkit-transition:0.2s ease-out;
	-o-transition:0.2s ease-out;
}

.link-miss .icon{
	background: url(../images/mission.png) center center no-repeat;
}

.link-play .icon{
	background: url(../images/play.png) center center no-repeat;
}

.link-touch .icon{
	background: url(../images/touch.png) center center no-repeat;
}

.link .icon:hover{
	transform: rotate(360deg) scale(1.2);
	-ms-transform: rotate(360deg) scale(1.2);
	-moz-transform: rotate(360deg) scale(1.2);
	-webkit-transform: rotate(360deg) scale(1.2);
	-o-transform: rotate(360deg) scale(1.2);

}

.button{
	display: block;
	width: 180px;
	height: 50px;
	line-height: 50px;
	text-decoration: none;
	color:#2DCB70;
	font-family: Arail;
	font-weight: bolder;
	border: 2px solid rgba(255,255,255,0.8);
	padding-left: 20px;
	margin: 0 auto;
	position: relative;
	box-sizing: border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background: url(../images/allow.png) 130px center no-repeat;
	transition: 0.4s ease;
	-moz-transition:0.4s ease;
	-webkit-transition:0.4s ease;
	-o-transition:0.4s ease;

    }

.button:hover{
	border:2px solid rgba(255,255,255,1);
	background-position: 140px center;

}

.button .line{
	display: block;
	position: absolute;
	background: none;
	transition: 0.4s ease;
	-moz-transition:0.4s ease;
	-webkit-transition:0.4s ease;
	-o-transition:0.4s ease;
}

.button:hover .line{
	background: #fff;
}

.button .line-top{
	height: 2px;
	width: 0;
	left: -110%;
	top:-2px;
}

.button:hover .line-top{
	width: 102%;
	left: -2px;
}

.button .line-right{
	width: 2px;
	height: 0;
	right: -2px;
	top: -110%;
}

.button:hover .line-right{
	height: 100%;
	top: -2px;
}

.button .line-bottom{
	width: 2px;
	height: 0;
	left: -2px;
	bottom: -110%;
}

.button:hover .line-bottom{
	height: 100%;
	bottom: 2px;
}

.button .line-left{
	width: 0;
	height: 2px;
	right: -110%;
	bottom: -2px;
}

.button:hover .line-left{
	width: 100%;
	right: -2px;

}

.tip{
	position: absolute;
	padding: 0 14px;
	height: 35px;
	line-height: 35px;
	background: #2DCB70;
	color:#fff;
	font-size: 18px;
	margin: 0 auto;
	border-radius: 3px;
	-ms-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	top:100px;
	opacity: 0;
}

.tip em{
	font-style: normal;
}

.tip span{
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	border: 7px solid transparent;
	border-top-color:  #2DCB70;
	position:absolute;
	top: 37px;
	left: 50%;
	margin-left: -5px;
}
















